<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wriddit - DEMO</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/story.css">
    <link href="https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/story.js"></script>
  </head>

  <body>

    <%- include('partials/_header_demo') %>

    <main>
      <section class="story">
        <img src=<%= photo_url %> alt="">
        <h1><%= title %></h1>
        <h3>STARTED BY <%= author %></h3>
        <% if (state !== 'Complete' && loggedIn && username === author) { %>
        <button id="mark-complete">Mark Complete</button>
        <% } %>
      </section>
      <p class="story-text"><%= content %></p>
      <% if (state !== 'Complete') { %>
      <section class="contribution-form">
        <form id="new-contribution" action="/stories/:story_id/:contribution_id" method="post">
          <label class="contribution-label" for="contribution">What happens next...</label>
          <textarea name="contribution" id="add-contribution" cols="30" rows="10"></textarea>
          <div>
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>
      <section id="contribution-container">
        <% for (const item of contributions) { %>
        <article class="contribution">
          <p class="div-content"><%= item.content %></p>
          <footer>
            <div class="upvote-box">
              <button class="upvote"><img src="/images/hands-and-gestures.png" alt=""></button>
              <p><%= item.upvotes %></p>
            </div>
            <div class="button-id-and-merge">
              <h4><%= item.name %></h4>
              <% if (loggedIn && username === author ) { %>
              <button id="<%= item.id %>" class="merge">Merge</button>
              <% } %>
            </div>
          </footer>
        </article>
        <% } %>
      </section>
      <% } %>
    </main>
  </body>

  <%- include('partials/_footer') %>

</html>
