<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Stories</title>
    <link href="https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myStories.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>

    <%- include('partials/_header') %>


    <main>

      <div class="title">
        <h1 class="title-text">MY STORIES</h1>
      </div>

      <section id="my-stories-container">
        <% for (const item of stories) { %>
        <article class="my-stories">
          <!-- <a class='my-stories-author anchor' href="/stories/<%= item.id %>">AUTHOR: <%= item.name %></a> -->
          <a class='my-stories-name anchor' href="/stories/<%= item.id %>"><%= item.title %></a>
          <a class='my-stories-status anchor' href="/stories/<%= item.id %>"><%= item.state %></a>
          <h3 class="my-stories-content"> <%= item.content %> </h3>

        </article>

        <% } %>
      </section>



    </main>

    <%- include('partials/_footer') %>

  </body>
  <script src="/scripts/story.js"></script>
  <script src="/scripts/app.js"></script>
</html>
