<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/story.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main>
      <section class="story">


        <img src="https://images.unsplash.com/photo-1501421018470-faf26f6b1bef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
        <h1><%= title %></h1>
        <h3>Started by <%= author %></h3>




      </section>
      <p><%= content %></p>
      <section class="contribution-form">
        <form id="new-contribution" action="/stories/:story_id/:contribution_id" method="post">
        <label for="contribution">What happens next...</label>
        <textarea name="contribution" id="add-contribution" cols="30" rows="10"></textarea>
        <div>
          <button type="submit">Submit</button>
        </div>

      </form>

      </section>
      <section>
        <% for (const item of contributions) { %>
          <article class="contribution">

              <p><%= item.content %></p>
              <footer>
                <div>
                  <button class="upvote" ><img src="/images/hands-and-gestures.png" alt=""></button>
                  <p><%= item.upvotes %></p>
                </div>
                <div>
                  <h4><%= item.name %></h4>
                  <% if (loggedIn) { %>
                    <button id="<%= item.id %>" class="merge">Merge</button>
                  <% } %>
                </div>

              </footer>

          </article>
        <% } %>
      </section>
    </main>
  </body>
<script src="/scripts/story.js"></script>
</html>
