<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Story</title>

    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing.css" type="text/css" />
    <link rel="stylesheet" href="/styles/stories.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>

    <%- include('partials/_header') %>

    <main id="main-container">

      <section class="header-one">

        <section class="header-top-stories">

          <h1 class="mainpage-header">TOP STORIES</h1>

          <div class="header-top-stories-one">
            <img class="story-image" src="https://i.pinimg.com/originals/85/bd/13/85bd1361a9180a835637f4a3ab4a4aa5.jpg">
            <h1 class="story-name"><%= first.title %></h1>
            <h2 class="author-name"><%= first.name %></h2>
            <a href="/stories/<%= first.id %>"><button class="button-mainpage">READ THE STORY</button></a>
            <h3>320</h3>
          </div>

          <div class="header-top-stories-two">
            <div class="top-story-image-two"></div>
            <img class="story-image" src="https://66.media.tumblr.com/tumblr_m6ilt1dzEh1rrqne4o1_500.jpg">
            <h1 class="story-name"><%= second.title %></h1>
            <h2 class="author-name"><%= second.name %></h2>
            <a href="/stories/<%= second.id %>"><button class="button-mainpage">READ THE STORY</button></a>
            <h3>480</h3>
          </div>

          <div class="header-top-stories-three">
            <img class="story-image" src="https://studygroupcomics.com/main/wp-content/uploads/2012/10/inccov.gif">
            <h1 class="story-name"><%= third.title %></h1>
            <h2 class="author-name"><%= third.name %></h2>
            <a href="/stories/<%= third.id %>"><button class="button-mainpage">READ THE STORY</button></a>
            <h3>480</h3>
          </div>

        </section>

        <div class="header-one-middle">
          <div class="feature-story">
            <div class="feature-story-first-section">
              <img class="feature-image" src="https://wfdd-live.s3.amazonaws.com/styles/slideshow/s3/images/slideshow/The-Sci-Fi-Strangeness-And-Canadian-Sensuality-Of-Cartoonist-Michael-DeForge-522904049-1491563707.jpg?itok=-1zh_Kx8">
              <h1 class="feature-title">FEATURE STORY OF THE WEEK</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <button class="continue-button">CONTINUE READING</button>
            </div>
          </div>
          <!----------------NICSTUFF------------------->
          <div class="story-starter">
            <h1 class="feature-title">WRITER'S BLOCK?</h1>
            <div class="prompt-box"></div>
            <button class="continue-button prompt-button">GENERATE A STORY STARTER</button>
            <textarea class="story-starter-text-area"></textarea>
          </div>
        </div>


        <div class="unfinished-stories">
          <h1 class="mainpage-header">UNFINISHED STORIES</h1>
          <div class="unfinished-stories-one">
            <img class="story-image" src="https://www.booooooom.com/wp-content/uploads/2014/12/michael-deforge05.jpg">
            <h1 class="story-name"><%= fourth.title %></h1>
            <h2 class="author-name"><%= fourth.name %></h2>
            <h2 class="contributions">ALREADY 320 CONTRIBUTIONS</h2>
            <a href="/stories/<%= fourth.id %>"><button class="button-mainpage">CONTINUE THE STORY</button></a>
          </div>

          <div class="unfinished-stories-two">
            <img class="story-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJSfOorI6keldTIKVd6UcGhyxSlFvRcQwN9rngGVZaAi1L2m28&usqp=CAU">
            <h1 class="story-name"><%= fifth.title %></h1>
            <h2 class="author-name"><%= fifth.name %></h2>
            <h2 class="contributions">ALREADY 436 CONTRIBUTIONS</h2>
            <a href="/stories/<%= fifth.id %>"><button class="button-mainpage">CONTINUE THE STORY</button></a>
          </div>

          <div class="unfinished-stories-three">
            <img class="story-image" src="https://www.booooooom.com/wp-content/uploads/2014/12/michael-deforge06.jpg">
            <h1 class="story-name"><%= sixth.title %></h1>
            <h2 class="author-name"><%= sixth.name %></h2>
            <h2 class="contributions">ALREADY 924 CONTRIBUTIONS</h2>
            <a href="/stories/<%= sixth.id %>"><button class="button-mainpage">CONTINUE THE STORY</button></a>
          </div>

        </div>

      </section>

      <section class="catchphrase">
        <h1>WRIDDIT</h1>
        <h2>WRITING FOR EVERYONE WITH EVERYONE</h2>
      </section>


      <div class="categories">
        <h1 class="categories-title">TOP STORIES BY CATEGORIES</h1>
        <div class="grid2x2">

          <div class="box box1">
            <div class="romance">
              <h1>ROMANCE</h1>
              <h2>I LOVE THIS PIE</h2>
              <h3>STARTED BY SARAH MUSK</h3>
              <h3> ALREADY 530 CONTRIBUTIONS</h3>
              <h3>320</h3>
              <img class="story-image" src="https://4.bp.blogspot.com/-7c6blPMiflE/U4Pvf6sbV8I/AAAAAAAAExM/cTSIOnWMLio/s1600/ABodyBeneath.jpg">
            </div>
          </div>

          <div class="box box2">
            <div class="action">
              <h1>ACTION</h1>
              <h2>CRAZY TIMES IN ROME</h2>
              <h3>STARTED BY DARYL WOOPS</h3>
              <h3> ALREADY 686 CONTRIBUTIONS</h3>
              <h3>480</h3>
              <img class="story-image" src="https://fantagraphics.com/images/flog/mike/201101/ppit-nyer-deforge.jpg">
            </div>
          </div>

          <div class="box box3">
            <div class="comedy">
              <h1>COMEDY</h1>
              <h2>THIS IS SO FUNNY</h2>
              <h3>STARTED BY COMEDY GUY</h3>
              <h3> ALREADY 497 CONTRIBUTIONS</h3>
              <h3>990</h3>
              <img class="story-image" src="https://images.squarespace-cdn.com/content/51b79387e4b06b939d343f1c/1371014039488-BOE91F3UGEUQBI3N6QFH/michael_deforge_03.jpg?content-type=image%2Fjpeg">
            </div>
          </div>

          <div class="box box4">
            <div class="crime">
              <h1>CRIME</h1>
              <h2>WHERE DID THE PIZZA GO</h2>
              <h3>STARTED BY LARRY BIRD</h3>
              <h3> ALREADY 976 CONTRIBUTIONS</h3>
              <h3>688</h3>
              <img class="story-image" src="http://images.tcj.com/2011/10/tcjgag9.jpg">
            </div>
          </div>

        </div>

      </div>



    </main>

    <script type="text/javascript" src="/scripts/stories.js"></script>




    <%- include('partials/_footer') %>
  </body>
</html>
