<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wriddit</title>

    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing.css" type="text/css" />
    <link rel="stylesheet" href="/styles/stories.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/stories.js"></script>
  </head>

  <body>

    <%- include('partials/_header') %>

    <main id="main-container">
      <section class="header-one">
        <section class="header-top-stories">
          <h1 class="mainpage-header">TOP STORIES</h1>
          <div class="header-top-stories-one">
            <img class="story-image" src=<%= complete.first.photo_url %>>
            <h1 class="story-name"><%= complete.first.title %></h1>
            <h2 class="author-name"><%= complete.first.name %></h2>
            <a href="/stories/<%= complete.first.id %>"><button class="button-mainpage">READ THE STORY</button></a>
            <div class="total-likes">
              <i class="far fa-hand-point-left"></i>
              <h3>320</h3>
            </div>
          </div>
          <div class="header-top-stories-two">
            <div class="top-story-image-two"></div>
            <img class="story-image" src=<%= complete.second.photo_url %>>
            <h1 class="story-name"><%= complete.second.title %></h1>
            <h2 class="author-name"><%= complete.second.name %></h2>
            <a href="/stories/<%= complete.second.id %>"><button class="button-mainpage">READ THE STORY</button></a>
            <div class="total-likes">
              <i class="far fa-hand-point-left"></i>
              <h3>279</h3>
            </div>
          </div>
          <div class="header-top-stories-three">
            <img class="story-image" src=<%= complete.third.photo_url %>>
            <h1 class="story-name"><%= complete.third.title %></h1>
            <h2 class="author-name"><%= complete.third.name %></h2>
            <a href="/stories/<%= complete.third.id %>"><button class="button-mainpage">READ THE STORY</button></a>
            <div class="total-likes">
              <i class="far fa-hand-point-left"></i>
              <h3>480</h3>
            </div>
          </div>
        </section>
        <div class="header-one-middle">
          <div class="feature-story">
            <div class="feature-story-first-section">
              <img class="feature-image" src="https://cdn.pastemagazine.com/www/articles/assets_c/2019/02/WomansWork9-thumb-500x666-1075574.jpg">
              <h1 class="feature-title">FEATURE STORY OF THE WEEK</h1>
              <p>Once upon a time, a mouse, a bird, and a sausage, entered into partnership and set up house together. For a long time all went well; they lived in great comfort, and prospered so far as to be able to add considerably to their stores. The bird’s duty was to fly daily into the wood and bring in fuel; the mouse fetched the water, and the sausage saw to the cooking When people are too well off they always begin to long for something new. And so it c....</p>
              <a href="http://localhost:8080/stories/22"><button class="button-mainpage">READ THE STORY</button></a>
            </div>
          </div>
          <div class="story-starter">
            <h1 class="feature-title">WRITER'S BLOCK?</h1>
            <div class="prompt-box"></div>
            <button class="continue-button prompt-button">GENERATE A STORY STARTER</button>
            <form class="story-starter story-submit" action="/stories" method="post">
              <label for="title">Enter the title of your story:</label>
              <input type="text" name="title" id="title" class="story-starter-text-area">
              <label class="generator-genre" for="genre">Choose a genre</label>
              <select name="genre" id="genre">
                <option value="">--Please choose an option--</option>
                <option value="Romance">Romance</option>
                <option value="Crime">Crime</option>
                <option value="Sci-fi">Sci-fi</option>
                <option value="Horror">Horror</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Action">Action</option>
                <option value="Comedy">Comedy</option>
              </select>
              <label class="generator-genre" for="story-content">Enter your content</label>
              <textarea name="content" id="story-content" class="story-starter-text-area"></textarea>
              <button class="button-mainpage" type="submit">SUBMIT</button>
            </form>
          </div>
        </div>
        <div class="unfinished-stories">
          <h1 class="mainpage-header">UNFINISHED STORIES</h1>
          <div class="unfinished-stories-one">
            <img class="story-image" src=<%= incomplete.first.photo_url %>>
            <h1 class="story-name"><%= incomplete.first.title %></h1>
            <h2 class="author-name"><%= incomplete.first.name %></h2>
            <h2 class="contributions">ALREADY 320 CONTRIBUTIONS</h2>
            <a href="/stories/<%= incomplete.first.id %>"><button class="button-mainpage">CONTINUE THE STORY</button></a>
          </div>
          <div class="unfinished-stories-two">
            <img class="story-image" src=<%= incomplete.second.photo_url %>>
            <h1 class="story-name"><%= incomplete.second.title %></h1>
            <h2 class="author-name"><%= incomplete.second.name %></h2>
            <h2 class="contributions">ALREADY 436 CONTRIBUTIONS</h2>
            <a href="/stories/<%= incomplete.second.id %>"><button class="button-mainpage">CONTINUE THE STORY</button></a>
          </div>
          <div class="unfinished-stories-three">
            <img class="story-image" src=<%= incomplete.third.photo_url %>>
            <h1 class="story-name"><%= incomplete.third.title %></h1>
            <h2 class="author-name"><%= incomplete.third.name %></h2>
            <h2 class="contributions">ALREADY 924 CONTRIBUTIONS</h2>
            <a href="/stories/<%= incomplete.third.id %>"><button class="button-mainpage">CONTINUE THE STORY</button></a>
          </div>
        </div>
      </section>
      <section class="catchphrase">
        <h1>WRIDDIT</h1>
        <h2>WRITING FOR EVERYONE WITH EVERYONE</h2>
      </section>
      <section class="end">
        <div class="end-container">
          <div class="categories-container">
            <h1 class="categories-header">TOP STORIES BY CATEGORIES</h1>
            <div class="categ-stories-container">
              <div class="categ-story1">
                <div class="categ-story-text">
                  <p class="genre">ROMANCE</p>
                  <p class="title"><a href="/stories/<%= genres.romance.id %>"><%= genres.romance.title %></a></p>
                  <p class="starter">STARTED BY <%= genres.romance.name %></p>
                  <p class="cont-count"> ALREADY 530 CONTRIBUTIONS</p>
                  <p class="likes"><i class="far fa-hand-point-left"></i><%= genres.romance.likes %></p>
                </div> <!-- closing cateßg-story-text-->
                <div class="image-container">
                  <img class="categ-story-image" src="<%= genres.romance.photo_url %>">
                </div>
              </div><!-- closing categ-story1-->
              <div class="categ-story2">
                <div class="categ-story-text">
                  <p class="genre">ACTION</p>
                  <p class="title"><a href="/stories/<%= genres.action.id %>"><%= genres.action.title %></a></p>
                  <p class="starter">STARTED BY <%= genres.action.name %></p>
                  <p class="cont-count"> ALREADY 686 CONTRIBUTIONS</p>
                  <p class="likes"><i class="far fa-hand-point-left"></i><%= genres.action.likes %></p>
                </div>
                <div class="image-container">
                  <img class="categ-story-image action-picture" src="<%= genres.action.photo_url %>"></div>
              </div>
              <div class="categ-story3">
                <div class="categ-story-text categ-story-text3">
                  <p class="genre">COMEDY</p>
                  <p class="title"><a href="/stories/<%= genres.comedy.id %>"><%= genres.comedy.title %></a></p>
                  <p class="starter">STARTED BY <%= genres.comedy.name %></p>
                  <p class="cont-count"> ALREADY 497 CONTRIBUTIONS</p>
                  <p class="likes"><i class="far fa-hand-point-left"></i><%= genres.comedy.likes %></p>
                </div>
                <div class="image-container">
                  <img class="categ-story-image3" src="<%= genres.comedy.photo_url %>"></div>
              </div>
              <div class="categ-story4">
                <div class="categ-story-text">
                  <p class="genre">CRIME</p>
                  <p class="title"><a href="/stories/<%= genres.crime.id %>"><%= genres.crime.title %></a></p>
                  <p class="starter">STARTED BY <%= genres.crime.name %></p>
                  <p class="cont-count"> ALREADY 976 CONTRIBUTIONS</p>
                  <p class="likes"><i class="far fa-hand-point-left"></i><%= genres.crime.likes %></p>
                </div>
                <div class="image-container">
                  <img class="categ-story-image2" src="<%= genres.crime.photo_url %>"></div>
              </div>
            </div>
          </div>
          <div class="image-container">
            <img class="wridders-img" src="/images/wridders.png">
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/_footer') %>

  </body>
</html>
